.footer {
    background-color: #FFD5E7;
    padding-top: 60px;
    padding-left: 133px;
    padding-right: 122px;
    padding-bottom: 64px;
}

.footer_img {
    width: 30%;
    height: 31px;
}

.footer_inr {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    align-items: flex-end;
}